In [1]:
import pandas as pd
from datetime import date
import os

In [2]:
tDay=date.today()

In [3]:
quote='quote borrow: 1709-HK / 2598-HK / 1783-HK / 6608-HK / 917-HK / 2522-HK / 1280-HK / 2473-HK / 2477-HK / 2490-HK / 2495-HK / 412-HK / 2582-HK / 9636-HK / 7552-HK / 7500-HK / 7200-HK / 7226-HK / 600418-CH / 600104-CH / 601988-CH '

In [4]:
text='''
CLSA SELL 1mn shares YZJSGD-SP limit 3.08, POV 5% near-touch
CLSA BUY 600K shares 151-HK limit 4.56, POV 10% near-touch
CLSA short 108K shares 1729-HK limit 4.32, POV 12% passive 
CICC BUY 100K shares 2423-HK limit 42.95, POV 8% passive 
Huatai BUY 500K shares 9863-HK limit 31.5, POV 5% passive 
Huatai BUY 100K shares 2510-HK limit 4.28, POV 10% passive 
Maybank short 100K shares 1523-HK limit 4.7, POV 12% passive 
'''

In [5]:
text2=text.replace("  "," ").replace(" shares","").replace(" limit","").replace(",","").replace('Huatai short','Huatai_HT short').replace('Huatai cover','Huatai_HT cover').replace("CLSA Desk","CLSA_HT").replace("DESK POV","DESK").replace(" HT","_HT").replace(" (low-touch)","").replace("~","").replace('passive ','passive').replace('MACQ','MEEX').replace('NEO','POV').replace('below ','1-').replace('near touch','neartouch').replace('near-touch ','NearTouch').replace('near-touch','NearTouch').replace('Low','5-10%').replace('Mid','10-20%').replace('High','15-30%').replace('Maybank','MKEA')
tradelist=[trades.rstrip().split(" ") for trades in text2.split("\n") if trades != ""]
#tradelist

In [6]:
cimblist=[ " ".join(x[1:]) for x in tradelist if "CIMB" in x]
for order in cimblist:
    print(order)

In [7]:
header=['Broker','Side','Quantity','Ticker','Price','Strategy','Vol(%)','Style']

In [8]:
def qty_conv(q):
    if q[-2:].lower() in ['mn','mm'] :
        qty=int(float(q[:-2])*1000000)
    elif q[-1].lower()=='k':
        qty=int(float(q[:-1])*1000)
    else:
        qty=int(q)
    
    return qty

In [9]:
tradeframe=pd.DataFrame(tradelist,columns=header)
#tradeframe=pd.DataFrame(tradelist)
#tradeframe

In [10]:
tradeframe['Ticker']=tradeframe['Ticker'].map(lambda x: x.replace("-"," ")+" EQUITY")
tradeframe['Quantity']=tradeframe['Quantity'].map(qty_conv)
tradeframe['Vol(%)']=tradeframe['Vol(%)'].map(lambda x: x.replace("%","") if x is not None else x)
tradeframe['Side']=tradeframe['Side'].map(lambda x:x.upper())
tradeframe['Side']=tradeframe['Side'].map({'SHORT':'SHRT','COVER':'COVR',"BUY":"BUY","SELL":'SELL'})
#tradeframe

In [11]:
brokers=['CLSA','CLSA_HT','Huatai','Huatai_HT','CICC_HT','CICC','Haitong','Haitong_HT','MEEX','MKEA']

In [12]:
tradeframe2=tradeframe[tradeframe['Broker'].isin(brokers)]
#tradeframe2
tradeframe2['Style']=tradeframe2.apply(lambda row: row['Style'].replace('passive','neartouch') if row['Broker']=='MEEX' and row['Style']=='passive' else row['Style'], axis=1)
tradeframe2

   Broker  Side  Quantity            Ticker  Price Strategy Vol(%)      Style
0    CLSA  SELL   1000000  YZJSGD SP EQUITY   3.08      POV      5  NearTouch
1    CLSA   BUY    600000     151 HK EQUITY   4.56      POV     10  NearTouch
2    CLSA  SHRT    108000    1729 HK EQUITY   4.32      POV     12    passive
3    CICC   BUY    100000    2423 HK EQUITY  42.95      POV      8    passive
4  Huatai   BUY    500000    9863 HK EQUITY   31.5      POV      5    passive
5  Huatai   BUY    100000    2510 HK EQUITY   4.28      POV     10    passive
6    MKEA  SHRT    100000    1523 HK EQUITY    4.7      POV     12    passive

In [13]:
tradeframe2.to_csv('trades_{}.csv'.format(tDay.strftime("%Y%m%d")),index=False)

In [14]:
quoteList=quote.replace("Quote borrow: ","").replace("quote borrow: ","").replace(":","").replace("Haitong","HT").replace("Guangfa","GF").split("/ ")
#quoteList

In [15]:
def quote(broker):    
    List=[x for x in quoteList if "(" not in x]+[x.split()[0] for x in quoteList if broker in x]
    String=broker+":\nHi team, could you quote borrow on "
    if broker=='Citi'or broker=='JEFF':
        List=[x for x in List if 'HK' in x]
    for x in List:
        String=String+x.strip()+", "
    String=String+"tks\n"
    String
    return String

In [16]:
brokerList=['GF','HT','CLSA','CICC','Huatai','MACQ','MB','Citi','JEFF','Tiger']#'CICC',
for broker in brokerList:
    print(quote(broker))

GF:
Hi team, could you quote borrow on 1709-HK, 2598-HK, 1783-HK, 6608-HK, 917-HK, 2522-HK, 1280-HK, 2473-HK, 2477-HK, 2490-HK, 2495-HK, 412-HK, 2582-HK, 9636-HK, 7552-HK, 7500-HK, 7200-HK, 7226-HK, 600418-CH, 600104-CH, 601988-CH, tks

HT:
Hi team, could you quote borrow on 1709-HK, 2598-HK, 1783-HK, 6608-HK, 917-HK, 2522-HK, 1280-HK, 2473-HK, 2477-HK, 2490-HK, 2495-HK, 412-HK, 2582-HK, 9636-HK, 7552-HK, 7500-HK, 7200-HK, 7226-HK, 600418-CH, 600104-CH, 601988-CH, tks

CLSA:
Hi team, could you quote borrow on 1709-HK, 2598-HK, 1783-HK, 6608-HK, 917-HK, 2522-HK, 1280-HK, 2473-HK, 2477-HK, 2490-HK, 2495-HK, 412-HK, 2582-HK, 9636-HK, 7552-HK, 7500-HK, 7200-HK, 7226-HK, 600418-CH, 600104-CH, 601988-CH, tks

CICC:
Hi team, could you quote borrow on 1709-HK, 2598-HK, 1783-HK, 6608-HK, 917-HK, 2522-HK, 1280-HK, 2473-HK, 2477-HK, 2490-HK, 2495-HK, 412-HK, 2582-HK, 9636-HK, 7552-HK, 7500-HK, 7200-HK, 7226-HK, 600418-CH, 600104-CH, 601988-CH, tks

Huatai:
Hi team, could you quote borrow on 1709-HK, 2598-HK, 1783-HK, 6608-HK, 917-HK, 2522-HK, 1280-HK, 2473-HK, 2477-HK, 2490-HK, 2495-HK, 412-HK, 2582-HK, 9636-HK, 7552-HK, 7500-HK, 7200-HK, 7226-HK, 600418-CH, 600104-CH, 601988-CH, tks

MACQ:
Hi team, could you quote borrow on 1709-HK, 2598-HK, 1783-HK, 6608-HK, 917-HK, 2522-HK, 1280-HK, 2473-HK, 2477-HK, 2490-HK, 2495-HK, 412-HK, 2582-HK, 9636-HK, 7552-HK, 7500-HK, 7200-HK, 7226-HK, 600418-CH, 600104-CH, 601988-CH, tks

MB:
Hi team, could you quote borrow on 1709-HK, 2598-HK, 1783-HK, 6608-HK, 917-HK, 2522-HK, 1280-HK, 2473-HK, 2477-HK, 2490-HK, 2495-HK, 412-HK, 2582-HK, 9636-HK, 7552-HK, 7500-HK, 7200-HK, 7226-HK, 600418-CH, 600104-CH, 601988-CH, tks

Citi:
Hi team, could you quote borrow on 1709-HK, 2598-HK, 1783-HK, 6608-HK, 917-HK, 2522-HK, 1280-HK, 2473-HK, 2477-HK, 2490-HK, 2495-HK, 412-HK, 2582-HK, 9636-HK, 7552-HK, 7500-HK, 7200-HK, 7226-HK, tks

JEFF:
Hi team, could you quote borrow on 1709-HK, 2598-HK, 1783-HK, 6608-HK, 917-HK, 2522-HK, 1280-HK, 2473-HK, 2477-HK, 2490-HK, 2495-HK, 412-HK, 2582-HK, 9636-HK, 7552-HK, 7500-HK, 7200-HK, 7226-HK, tks

Tiger:
Hi team, could you quote borrow on 1709-HK, 2598-HK, 1783-HK, 6608-HK, 917-HK, 2522-HK, 1280-HK, 2473-HK, 2477-HK, 2490-HK, 2495-HK, 412-HK, 2582-HK, 9636-HK, 7552-HK, 7500-HK, 7200-HK, 7226-HK, 600418-CH, 600104-CH, 601988-CH, tks

In [17]:
cimbList=[x for x in quoteList if "(" not in x]+[x.split()[0] for x in quoteList if "CIMB" in x]
shares=[1000000]*len(cimbList)
df=pd.DataFrame(shares,cimbList,columns=['qty'])
#csv_path='borrow.csv'
#df.to_csv('borrow.csv')
#os.system(f'start excel "{csv_path}"') 
df

                qty
1709-HK     1000000
2598-HK     1000000
1783-HK     1000000
6608-HK     1000000
917-HK      1000000
2522-HK     1000000
1280-HK     1000000
2473-HK     1000000
2477-HK     1000000
2490-HK     1000000
2495-HK     1000000
412-HK      1000000
2582-HK     1000000
9636-HK     1000000
7552-HK     1000000
7500-HK     1000000
7200-HK     1000000
7226-HK     1000000
600418-CH   1000000
600104-CH   1000000
601988-CH   1000000

In [18]:
mbList=[x for x in quoteList if "(" not in x]+[x.split()[0] for x in quoteList if "MB" in x]
shares=[1000000]*len(mbList)
df=pd.DataFrame(shares,mbList,columns=['qty'])
#csv_path='borrow.csv'
#df.to_csv('borrow.csv')
#os.system(f'start excel "{csv_path}"') 
df

                qty
1709-HK     1000000
2598-HK     1000000
1783-HK     1000000
6608-HK     1000000
917-HK      1000000
2522-HK     1000000
1280-HK     1000000
2473-HK     1000000
2477-HK     1000000
2490-HK     1000000
2495-HK     1000000
412-HK      1000000
2582-HK     1000000
9636-HK     1000000
7552-HK     1000000
7500-HK     1000000
7200-HK     1000000
7226-HK     1000000
600418-CH   1000000
600104-CH   1000000
601988-CH   1000000

In [19]:
macqList=[x for x in quoteList if "(" not in x]+[x.split()[0] for x in quoteList if 'MACQ' in x]
shares=[1000000]*len(macqList)
macq=pd.DataFrame(shares,macqList,columns=['quantity'])
macq=macq.reset_index()
macq.columns=['ticker','quantity']
def symbol(ticker):
    if ticker[-2:]=="CH":
        if ticker[0]=="6":
            ticker=ticker.replace("CH","SH")
        else:
            ticker=ticker.replace("CH","ZK")
    if ticker[-2:]=="HK":
        ticker=ticker.zfill(7)
    ticker=ticker.replace("-",".")
    return ticker
macq['ticker']=macq['ticker'].map(lambda x: x.replace(" ",""))
macq['ticker']=macq['ticker'].map(lambda x: symbol(x))
#macq.loc[macq.shape[0]]=["2899.HK",2000000]
csv_path='macqborrow.csv'
macq.to_csv('macqborrow.csv',index=False)
#os.system(f'start excel "{csv_path}"') 
macq

       ticker  quantity
0     1709.HK   1000000
1     2598.HK   1000000
2     1783.HK   1000000
3     6608.HK   1000000
4     0917.HK   1000000
5     2522.HK   1000000
6     1280.HK   1000000
7     2473.HK   1000000
8     2477.HK   1000000
9     2490.HK   1000000
10    2495.HK   1000000
11    0412.HK   1000000
12    2582.HK   1000000
13    9636.HK   1000000
14    7552.HK   1000000
15    7500.HK   1000000
16    7200.HK   1000000
17    7226.HK   1000000
18  600418.SH   1000000
19  600104.SH   1000000
20  601988.SH   1000000